[submodule "jiteman's/Jitemans-channeled-wireless-signals"]
	path = jiteman's/Jitemans-channeled-wireless-signals
	url = https://github.com/jiteman/jfm_jitemans_channeled_wireless_signals.git
[submodule "jiteman's/Jitemans-packing"]
	path = jiteman's/Jitemans-packing
	url = https://github.com/jiteman/jfm_jitemans_packing.git
[submodule "jiteman's/Jitemans_Fast_Floor_Removal"]
	path = jiteman's/Jitemans_Fast_Floor_Removal
	url = https://github.com/jiteman/jfm_jitemans_fast_floor_removal.git
[submodule "jiteman's/DataFetcher"]
	path = jiteman's/DataFetcher
	url = https://github.com/jiteman/jfm_jitemans_data_fetcher.git
[submodule "foreign/aai-industry"]
	path = foreign/aai-industry
	url = https://github.com/jiteman/jfm_foreign_aai_industry.git
